
*.weights
*.pyc
*.pgm
mnist/mnist_test/*
mnist/mnist_train/*
mnist/*.txt
log/*
checkpoints/yolov3_custom.data-00000-of-00001
checkpoints/checkpoint
checkpoints/yolov3_custom.index
checkpoints/checkpoint
ModelData/*
